name: build-macos

on:
  push:
    tags:
      - "*.*.*"

env:
  ARTIFACT_NAME: "binary"
  ARTIFACT_PATH: "deploy/flippage"
  SBOM: "sbom.spdx.json"

jobs:
  build:
    # While newer version is available 14 is used because old github.com/kbinani/screenshot
    # which requires Xcode 14.
    runs-on: macos-14
    timeout-minutes: 15
    permissions: read-all
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Generate SBOM
        uses: anchore/sbom-action@a930d0ac434e3182448fe678398ba5713717112a # v0.21.0
        with:
          format: "spdx-json"
          output-file: ${{ env.SBOM }}
      # Since github.com/go-vgo/robotgo requires dynamic linking Nix is not used because
      # building on Nix env causes dynamic linking to shared object in Nix store which
      # may not exist on users environment.
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
      - name: Build and zip
        run: make build-macos
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.ARTIFACT_NAME}}
          path: |
            ${{ env.ARTIFACT_PATH }}
            ${{ env.SBOM }}

  release:
    needs: build
    # Because it's cheaper.
    # see: https://docs.github.com/en/billing/reference/actions-runner-pricing
    # see: https://github.blog/changelog/2025-10-28-1-vcpu-linux-runner-now-available-in-github-actions-in-public-preview/
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ env.ARTIFACT_NAME }}
      - name: Attest
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-path: ${{ env.ARTIFACT_PATH }}
      - name: Compress binary
        run: |
          cd deploy
          zip -r macos.zip flippage
      - name: Add to releases
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: github.ref_type == 'tag'
        with:
          files: |
            deploy/macos.zip
            ${{ env.SBOM }}
